{{template "base" .}}

{{define "content"}}

<div class="container">

    <div class="row d-flex justify-content-center align-items-center container">
        <div class="col-lg-10 offset-1">
            <h1 class="text-center mt-5"> Contact Us</h1>
            <div class="jumbotron text-center mt-5">
                <h4 class="display-8 mb-3">For Enquiries and Customer Service</h4>
                <p class="lead">Monday till Friday : 09:30 to 18:30 (CAT)</p>
                <p class="lead">Saturday : 12:00 to 16:00 (CAT)</p>
                <p><strong>(+236) 672-882-744</strong></p>
            <hr class="my-4">
                <h4 class="display-8"><strong>Write to Us</strong></h4>
            </div>

            <div class="">
                <form action="" method="POST" class="mt-5">
                    <input name="first_name" type="text" class="form-control" placeholder="First Name" required>
                    <input name="last_name" type="text" class="form-control mt-3" placeholder="Last Name" required>
                    <input name="_replyto" type="text" class="form-control mt-3" placeholder="Email" required>
                    <input name="phone_number" type="text" class="form-control mt-3" placeholder="Phone Number">
                    <textarea name="text" class="form-control mt-3" placeholder="Comment"rows="8" ></textarea>
                    <input type="submit" value="Send Message" class="mt-3" />
                </form>
            </div>
            
        </div>
    </div>
</div>
   
{{end}}